<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/courses">My Tutor</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/courses">Home</a></li>
        <li><a href="/aboutUs">About</a></li>
        <li><a href="/contactUs" class="active">Contact</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header><!-- End Header -->

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" >
    <div class="container">
      <h2>Contact Us</h2>
    </div>
  </div><!-- End Breadcrumbs -->
  <div class="container">
    <!-- ======= About Section ======= -->
    <div class="left-div" style="padding-left: 5%">
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="../assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3 style="margin-top: 10%">Contact Us</h3>
              <p> </p>
              <p> </p>
              <p class="fst-italic">
                We would love to hear from you! Please reach out to us via Email and we will get back to you as soon as possible.
              </p>
              <i class="bi bi-envelope-at-fill"> : mytutor@gmail.com </i>
              <p> </p>
              <p> </p>
              <p class="fst-italic">
                For any inquiries or issues, please call us on our hotline.
              </p>
              <i class="bi bi-envelope-at-fill"> : 0112123123 </i>


            </div>
          </div>

        </div>
      </section><!-- End About Section -->
    </div>
    <div class="right-div" style="margin-bottom: 7%">
      <div class="container" style="margin-top: 2%;margin-bottom: 5%" >
        <img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=1380&t=st=1684071932~exp=1684072532~hmac=0da65457efaa363b06b84346e0bde705708f14e61e9ea7bd2ed7a4d2d75ba696" alt="Image" style="width: 120%; height: 1000%">
      </div>
    </div>
  </div>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">

    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->
