<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/courses">My Tutor</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/courses">Home</a></li>
        <li><a  class="active" href="/aboutUs">About</a></li>
        <li><a href="/contactUs">Contact</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header><!-- End Header -->

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" >
    <div class="container">
      <h2>About Us</h2>
    </div>
  </div><!-- End Breadcrumbs -->
  <div class="container">
    <div class="left-div">
  <div class="container" style="margin-top: 2%;margin-bottom: 5%" >
    <img src="https://www.kindpng.com/picc/m/127-1271545_student-teacher-student-teacher-education-clip-art-cartoon.png" alt="Image" style="width: 120%; height: 1000%">
  </div>
    </div>
  <!-- ======= About Section ======= -->
    <div class="right-div" style="padding-left: 15%">
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>My Tutor</h3>
          <p class="fst-italic">
            Welcome to our online platform where students can explore and discover courses offered by different instructors. Our website provides a user-friendly interface that allows students to easily search for courses based on keywords, topics, or instructor names.

            Our instructors come from a wide range of academic backgrounds and have expertise in various fields. They offer courses on subjects like mathematics, science, literature, history, and much more.
          </p>
          <p class="fst-italic">
            Our website is designed to help students enhance their knowledge and skills, and to provide them with an opportunity to learn from experienced instructors. We strive to create an engaging and interactive learning environment where students can develop their critical thinking, problem-solving, and communication skills.

            Thank you for choosing our platform for your educational needs. We look forward to helping you achieve your learning goals!"
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Add courses as Instructors</li>
            <li><i class="bi bi-check-circle"></i> Find courses as Students</li>
            <li><i class="bi bi-check-circle"></i> Contact Instructors</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
    </div>
    </div>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">

    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->
