
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="./">MY TUTOR</a></h1>

  </div>
</header><!-- End Header -->

<main id="main">

  <div class="breadcrumbs">
    <div class="container">
      <h2>Login</h2>
    </div>
  </div>
  <!-- ======= login Section ======= -->
  <section id="login" >
    <div class="container" >

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../../app/assets/img/hero-bg.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <!-- ======= Contact Section ======= -->
          <section id="contact" class="contact">

            <div class="container" >

              <div class="row mt-5">

                <div class="col-lg-4">
                  <div class="info">
                    <div class="email">
                      <i class="bi bi-envelope"></i>
                      <h4>Email:</h4>
                      <p>info@example.com</p>
                    </div>

                    <div class="info">
                      <i class="bi bi-pass-fill"></i>
                      <h4>Password:</h4>
                    </div>

                  </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-4">

                  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="php-email-form">
                    <div class="form-group mt-3">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" [(ngModel)]="formData.email" required email>
                      <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid" class="validation-error">Please enter a valid email address</div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="formData.password" required minlength="6">
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                    </div>
                    <div class="text-center"><button type="submit">Login</button></div>

                    <div class="container">
                      <h5>Create new account</h5>
                    </div>
                    <div class="text-center"><button style="background-color: #555555" type="submit" (click)="onRegisterButtonClick()">Register</button></div>

                  </form>

                </div>

              </div>

            </div>
          </section><!-- End Contact Section -->

        </div>
      </div>

    </div>
  </section><!-- End About Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

</footer><!-- End Footer -->
